<a href="https://colab.research.google.com/github/kingketan9/Data_Science_Assignment/blob/main/assignment8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a python program to create and display the series s3

a 5

b 2

c NaN

d 4.5

e 2.1 -add more rows

In [ ]:
import pandas as pd

In [ ]:
from cmath import nan
dict = {'a':5,'b':2,'c':nan,'d':4.5,'e':2.1}
s3 = pd.Series(dict)
s3


a) add 10 to each element of series

In [ ]:
s3+10


b) Replace NaN with zero

In [ ]:
s3.fillna(0)

c) print(s3[s3&gt;3.0])

In [ ]:
print(s3[s3>3])

2. Create a DataFrame for the following attribute

Name Phone Zip Code
0 John Doe 555-1234 94602

1 Jane Doe 555-7864 31101

2 Jim Doe 555-6962 34471

In [ ]:
dict1 = {'Name':['John Doe','Jane Doe','Jim Doe'],'Phone':['555-1234','555-7864','555-6962'],'Zip Code':['94602','31101','34471']}
df = pd.DataFrame(data=dict1)

In [ ]:
df

a) add column Date of birth and Sex(Male/Female ) as a dataframe

In [ ]:
df['Date of birth'] = nan
df['Sex'] = nan

In [ ]:
df

b) Create more rows as a separate data frames and append to it

In [ ]:
dict2 = {'Name':'Janice Doe','Phone':'555-6789','Zip Code':'147004'}
df = df.append(dict2,ignore_index='True')
df

3. Download and read titanic dataset in DataFrame

In [ ]:
df = pd.read_csv("train.csv")

In [ ]:
df


a) show column names

In [ ]:
df.columns

b) show tail

In [ ]:
df.tail()

c) Encode categorical values

In [ ]:
df.info()

In [ ]:
pd.get_dummies(df,columns=['Sex'],drop_first=True)

d) Find statistics of individual column

In [ ]:
df.describe()

e) Handle NANs

In [ ]:
df.fillna(df.mean())