<a href="https://colab.research.google.com/github/kingketan9/Data_Science_Ass/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ASSIGNMENT 1**

**Q1: L is a list defined as L= [11, 12, 13, 14].**

i) WAP to add 50 and 60 to L.

In [ ]:
L = [11, 12, 13, 14] 
print ("Original List       --> ", L)

L.append(50)
L.append(60)
print ("List After Adding   --> ", L)

Original List       -->  [11, 12, 13, 14]
List After Adding   -->  [11, 12, 13, 14, 50, 60]

ii) WAP to remove 11 and 13 from L.

In [ ]:
print ("Original List       --> ", L)
del L[0]
del L[1]
print ("List After Deleting --> ", L)

Original List       -->  [11, 12, 13, 14, 50, 60]
List After Deleting -->  [12, 14, 50, 60]

iii) WAP to sort L in ascending order.

In [ ]:
L.sort()
print('List after sorting in ascending order', L)

List after sorting in ascending order [12, 14, 50, 60]

iv) WAP to sort L in descending order.

In [ ]:
L.sort(reverse = True)
print('List after sorting in descending order', L)

List after sorting in descending order [60, 50, 14, 12]

v) WAP to search for 13 in L.

In [ ]:
print ("Original List       --> ", L)

print ("Original List --> ", 13 in L)

if (13 in L) == True:
	print ("Present")
else:
	print ("Not Present")

Original List       -->  [60, 50, 14, 12]
Original List -->  False
Not Present

vi) WAP to count the number of elements present in L.

In [ ]:
print ("Original List       --> ", L)
print ("Number of elements in list: ", len(L))

Original List       -->  [60, 50, 14, 12]
Number of elements in list:  4

vii) WAP to sum all the elements in L.

In [ ]:
print ("Original List --> ", L)

print ("Sum     --> ", sum(L))

Original List -->  [60, 50, 14, 12]
Sum     -->  136

viii) WAP to sum all ODD numbers in L.

In [ ]:
print ("Original List --> ", L)
odd_sum = 0
for i in L:
  if(i%2==1):
    odd_sum = odd_sum + L[i]
print('Sum -->', odd_sum)

Original List -->  [60, 50, 14, 12]
Sum --> 0

ix)  WAP to sum all EVEN numbers in L.

In [ ]:
print ("Original List --> ", L)
even_sum = 0

for i in range(0,len(L)):
  if L[i] % 2 ==0:
    even_sum += L[i]     
print('Sum -->', even_sum)

Original List -->  [60, 50, 14, 12]
Sum --> 136

x) WAP to sum all PRIME numbers in L.

In [ ]:
print ("Original List --> ", L)

y = 0 
def IsPrime(n):
  for i in range(2, n//2 + 1):
    if n%i==0:
      return 0
    return n 
  
  for i in range(0,len(L)):
    y+=IsPrime(L[i])

print('Sum -->',y)

Original List -->  [60, 50, 14, 12]
Sum --> 0

xi) WAP to clear all the elements in L.

In [ ]:
print ("Original List --> ", L)

L.clear()

print("List after clearing ", L)

Original List -->  [60, 50, 14, 12]
List after clearing  []

xii) WAP to delete L.

In [ ]:
print ("Original List --> ", L)

del L

print("List Deleted Successfully!")

Original List -->  []
List Deleted Successfully!

**Q2  D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.**

(i) WAP to add new entry in D; key=8 and value is 8.8

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)

D[8] = 8.8
print ("After Adding (8)    --> ", D)

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After Adding (8)    -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)

del D[2]
print ("After Deleting (2)  --> ", D)

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After Deleting (2)  -->  {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

(iii) WAP to check whether 6 key is present in D.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)

print ("Is Key 2 Present    --> ", 6 in D)

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Is Key 2 Present    -->  False

(iv) WAP to count the number of elements present in D.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)
print ("Num of elements --> ", len(D))

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Num of elements -->  5

(v) WAP to add all the values present D.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)
print ("Values     --> ", sum(list(D.values())))

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Values     -->  36.4

(vi) WAP to update the value of 3 to 7.1.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)

D[3] = 7.1
print ("After Updating (3)  --> ", D)

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After Updating (3)  -->  {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

(vii) WAP to clear the dictionary.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)

D.clear()

print('Dictionary cleared Successfully!')

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Dictionary cleared Successfully!

**Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].**

 S2 is a set defined as S2= [40, 50, 60, 70, 80, 90]. 

(i) WAP to add 55 and 66 in Set S1.

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
print ("Original set S1       --> ", S1)
print ("Original set S2       --> ", S2)

S1.add(55)
S1.add(66)
print ("Set After Adding 55 and 66 to set S1 --> ", S1)

Original set S1       -->  {40, 10, 50, 20, 60, 30}
Original set S2       -->  {70, 40, 80, 50, 90, 60}
Set After Adding 55 and 66 -->  {66, 40, 10, 50, 20, 55, 60, 30}

(ii) WAP to remove 10 and 30 from Set S1.

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
print ("Original set S1       --> ", S1)
print ("Original set S2       --> ", S2)

S1.remove(10)
S1.remove(30)
print ("Set After Removing 10 and 30 from set S1 --> ", S1)

Original set S1       -->  {40, 10, 50, 20, 60, 30}
Original set S2       -->  {70, 40, 80, 50, 90, 60}
Set After Removing 10 and 30 from set S1 -->  {40, 50, 20, 60}

(iii) WAP to check whether 40 is present in S1.

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
print ("Original set S1       --> ", S1)
print ("Original set S2       --> ", S2)
print ("Is 40 Present in Set S1   --> ", 40 in S1)

Original set S1       -->  {40, 10, 50, 20, 60, 30}
Original set S2       -->  {70, 40, 80, 50, 90, 60}
Is 40 Present in Set S1   -->  True

(iv) WAP to find the union between S1 and S2.

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
print ("Original set S1       --> ", S1)
print ("Original set S2       --> ", S2)
print ("Union of S1 and S2    --> ", S1.union(S2))

Original set S1       -->  {40, 10, 50, 20, 60, 30}
Original set S2       -->  {70, 40, 80, 50, 90, 60}
Union of S1 and S2    -->  {70, 40, 10, 80, 50, 20, 90, 60, 30}

(v) WAP to find the intersection between S1 and S2.

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
print ("Original set S1       --> ", S1)
print ("Original set S2       --> ", S2)
print ("Intersection of S1 and S2    --> ", S1.intersection(S2))

Original set S1       -->  {40, 10, 50, 20, 60, 30}
Original set S2       -->  {70, 40, 80, 50, 90, 60}
Intersection of S1 and S2    -->  {40, 50, 60}

(vi) WAP to find the S1 - S2.

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
print ("Original set S1       --> ", S1)
print ("Original set S2       --> ", S2)
print ("Difference of S1 and S2    --> ", S1.difference(S2))

Original set S1       -->  {40, 10, 50, 20, 60, 30}
Original set S2       -->  {70, 40, 80, 50, 90, 60}
Difference of S1 and S2    -->  {10, 20, 30}

**Q4. Write the following program.**

(i) WAP to print 100 random strings whose length between 6 and 8.

In [ ]:
import string as s
import random as r
l = s.ascii_letters
l
up = 8
down = 6
iterations = 100
for i in range(iterations):
    SetSize = r.randint(down,up)
    x = r.sample(l,SetSize)
    print(x)

['T', 'x', 'R', 'y', 'C', 'Q']
['Z', 's', 'J', 'c', 'A', 'h', 'H']
['G', 'o', 't', 'D', 'R', 'C', 'X', 'd']
['B', 'g', 'V', 'I', 'd', 'n']
['O', 'G', 'h', 'E', 'k', 'j', 'L']
['J', 'c', 's', 'S', 'w', 'a']
['d', 'k', 'r', 't', 'w', 'u', 'f']
['d', 'P', 'q', 'O', 'M', 'v']
['s', 'X', 'n', 'V', 'o', 'Z', 'g']
['Q', 'b', 'j', 'f', 'g', 'H']
['K', 'I', 'E', 'G', 'i', 'L']
['s', 'z', 'Q', 'X', 'm', 'j', 'A', 'I']
['B', 'R', 'H', 'N', 'Q', 'J', 'L']
['M', 'm', 'J', 'z', 'c', 'x', 'U', 'H']
['v', 't', 'Y', 'x', 'l', 'G']
['B', 'e', 'M', 'W', 'b', 'k', 'c']
['U', 'D', 'b', 'q', 'B', 'E', 'm', 'O']
['Y', 'W', 'D', 'J', 'F', 'z', 'w']
['V', 'm', 'z', 'P', 'X', 'E', 'r']
['h', 'P', 'L', 'y', 'I', 'A']
['e', 'I', 'm', 'X', 'C', 'F', 'g', 'v']
['E', 'j', 'y', 'Q', 'D', 'x', 'c']
['y', 'l', 'v', 'i', 'P', 'u', 'A']
['b', 'Y', 'w', 'c', 'm', 'a', 'v', 'h']
['k', 'V', 'P', 'G', 'B', 'a', 'w', 'L']
['t', 'B', 'd', 'S', 'o', 's', 'U']
['y', 'C', 'I', 'H', 'c', 'k', 'P']
['I', 'o', 'v', 'j', 't', 'e', 'r', 'M']
['j', 'v', 'Y', 'H', 'd', 't', 'a']
['T', 'N', 'V', 'L', 'o', 'K', 'y']
['z', 'Q', 'K', 'e', 'd', 'O']
['A', 'H', 'J', 'L', 'X', 'P']
['H', 'c', 'q', 'd', 's', 'f', 'U', 'V']
['R', 's', 'l', 'p', 'G', 'r', 'C', 'V']
['q', 'L', 'O', 'x', 'w', 'M', 'g']
['O', 'k', 'd', 'z', 'u', 'N', 'i']
['P', 'r', 'F', 'x', 'C', 'S', 's', 'z']
['i', 'p', 'o', 'x', 's', 'V', 'k']
['n', 'p', 'h', 'z', 'W', 'Q']
['T', 'C', 'M', 'i', 'U', 's', 'L']
['L', 'H', 'p', 'R', 'C', 'u', 'S']
['h', 'g', 'x', 'K', 'C', 'B', 'G']
['M', 'p', 'K', 'c', 'Q', 'N', 'U', 'i']
['T', 'a', 'z', 'p', 'H', 'i', 'J']
['n', 'M', 'F', 'C', 'j', 'L']
['r', 'p', 't', 'R', 'L', 'Z', 'V', 'i']
['V', 'i', 'N', 'h', 'G', 'd']
['z', 'j', 'c', 'o', 'v', 'N', 'x', 'S']
['D', 'K', 'Y', 'a', 's', 'J']
['e', 'K', 'N', 'n', 'p', 'k', 'Q']
['j', 'L', 'g', 'W', 'f', 'V', 'O']
['j', 'F', 'x', 'm', 'Q', 'v', 'l']
['n', 'D', 'Z', 'U', 'k', 'V', 'M']
['L', 'e', 'Q', 'N', 'm', 'b', 'z', 'r']
['e', 'R', 'm', 'n', 'N', 'F', 'D', 'H']
['Y', 'b', 'A', 'J', 'U', 'I', 'o']
['y', 'm', 'a', 'J', 'Q', 'P', 'A', 'c']
['G', 'g', 'Z', 'v', 'D', 'I', 'y', 'u']
['c', 'q', 'G', 'W', 'b', 'R']
['S', 'D', 's', 'N', 'f', 'V', 'I']
['B', 'd', 's', 'u', 'I', 'C', 'N']
['z', 'B', 'x', 'Q', 'E', 'V', 'u', 'M']
['Z', 'Q', 'j', 'O', 'E', 'u', 'R']
['H', 'a', 'Q', 'm', 'X', 'M']
['O', 'e', 'f', 'Y', 'I', 'J', 'g']
['h', 'X', 'j', 'T', 'B', 'J']
['D', 'V', 'p', 'b', 'f', 'h', 'v']
['c', 'q', 'Q', 'p', 'm', 'N']
['f', 'J', 'A', 'Y', 'D', 'r', 'P']
['Y', 'l', 'z', 'j', 'C', 'V', 'g', 't']
['T', 'C', 'e', 'm', 'r', 'X', 'O', 'W']
['o', 'y', 'f', 'G', 'w', 'g', 'Q', 'W']
['T', 'n', 'b', 'W', 'O', 'Z', 'X', 'g']
['o', 'T', 'f', 'B', 'D', 'y', 'm', 'i']
['O', 'u', 'V', 'p', 'f', 'D']
['z', 'h', 'j', 'G', 'U', 'd', 'F']
['p', 'K', 'e', 'X', 'i', 'd']
['L', 'd', 'Y', 'j', 'h', 'c']
['D', 'L', 'K', 'M', 'y', 'Y']
['L', 'A', 'C', 'k', 'd', 'U', 'a', 'K']
['h', 'p', 'C', 't', 'e', 'X']
['k', 'h', 'w', 'm', 'X', 'U', 'L']
['F', 'X', 'e', 'U', 'h', 'D', 'K']
['j', 'b', 'Z', 'N', 'J', 'x', 'g']
['y', 'o', 's', 'w', 'a', 'P', 'F', 'd']
['g', 'x', 'z', 'm', 'n', 'k']
['O', 'J', 'W', 'o', 'r', 'D', 'M', 'w']
['N', 'p', 'F', 'c', 'g', 'u', 's']
['u', 'j', 'T', 'b', 'C', 't']
['e', 'y', 'L', 'F', 'a', 'M', 'l', 'n']
['r', 'D', 'I', 'i', 'R', 'J', 'U']
['t', 'n', 'L', 'G', 'W', 'a', 'V']
['W', 'C', 'N', 'q', 'u', 'm']
['i', 'Y', 'Z', 'J', 'n', 'O']
['T', 'z', 's', 'e', 'v', 'R', 'g', 'B']
['m', 'y', 'r', 'T', 'J', 'k', 'C', 'X']
['b', 'p', 'a', 'd', 'B', 'f']
['d', 'D', 'v', 'C', 'N', 'B', 'M', 'p']
['x', 'm', 'b', 'p', 'Q', 'K']
['h', 'K', 'r', 'W', 'I', 'i', 'o']

(ii) WAP to print all prime numbers between 600 and 800.

In [ ]:
lower = 600
upper = 800

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 600 and 800 are:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [ ]:
nl=[]
for x in range(100, 1000):
    if (x%7==0) and (x%9==0):
        nl.append(str(x))
print (','.join(nl))

126,189,252,315,378,441,504,567,630,693,756,819,882,945

Q5. WAP to create two lists of 10 random numbers between 10 and 30; 

Find 

(i) Common numbers in the two lists

In [ ]:
import random as r
randomlist1 = r.sample(range(10, 30),10)
randomlist2 = r.sample(range(10, 30),10)
print(randomlist1)
print(randomlist2)

randomlist1 = set(randomlist1)
randomlist2 = set(randomlist2)
common = randomlist1.intersection(randomlist2)

print('Common among two lists are --> ',common)

[26, 18, 21, 25, 11, 27, 29, 17, 14, 19]
[19, 10, 17, 21, 16, 15, 27, 14, 24, 28]
Common among two lists are -->  {14, 17, 19, 21, 27}

(ii) Unique numbers in both the list

In [ ]:
import random as r
randomlist1 = r.sample(range(10, 30),10)
randomlist2 = r.sample(range(10, 30),10)
print(randomlist1)
print(randomlist2)

unique_list1 = set(randomlist1)
unique_list2 = set(randomlist2)

print("Unique elements in list1 are -->", unique_list1)
print("Unique elements in list2 are -->", unique_list2)

[27, 24, 19, 26, 13, 11, 10, 17, 25, 20]
[11, 10, 26, 21, 17, 12, 25, 27, 29, 15]
Unique elements in list1 are --> {10, 11, 13, 17, 19, 20, 24, 25, 26, 27}
Unique elements in list2 are --> {10, 11, 12, 15, 17, 21, 25, 26, 27, 29}

(iii) Minimum in both the list

In [ ]:
import random as r
randomlist1 = r.sample(range(10, 30),10)
randomlist2 = r.sample(range(10, 30),10)
print(randomlist1)
print(randomlist2)

print("Minimum number in list1 is -->", min(randomlist1))
print("Minimum number in list2 is -->", min(randomlist2))

[28, 25, 16, 27, 10, 26, 17, 24, 23, 12]
[15, 26, 22, 13, 16, 29, 18, 20, 11, 24]
Minimum number in list1 is --> 10
Minimum number in list2 is --> 11

(iv) Maximum in both the list

In [ ]:
import random as r
randomlist1 = r.sample(range(10, 30),10)
randomlist2 = r.sample(range(10, 30),10)
print(randomlist1)
print(randomlist2)

print("Maximum number in list1 is -->", max(randomlist1))
print("Maximum number in list2 is -->", max(randomlist2))

[12, 23, 28, 15, 21, 29, 18, 27, 16, 14]
[28, 20, 23, 14, 18, 26, 10, 22, 12, 16]
Maximum number in list1 is --> 29
Maximum number in list2 is --> 28

(v) Sum of both the lists

In [ ]:
import random as r
randomlist1 = r.sample(range(10, 30),10)
randomlist2 = r.sample(range(10, 30),10)
print(randomlist1)
print(randomlist2)

print("Sum of  list1 + list2 is -->", sum(randomlist1 + randomlist2))

[17, 12, 11, 28, 10, 15, 18, 22, 26, 25]
[13, 18, 17, 23, 26, 19, 21, 28, 27, 25]
Sum of  list1 + list2 is --> 401

Q6. WAP to create a list of 100 random numbers between 100 and 900. 

Count and print the:

(i) All odd numbers

In [ ]:
import random as r
randomlist = r.sample(range(100,900),100)
print(randomlist)

odd_count = 0
even_count = 0 

for num in randomlist:
      
    if num % 2 == 0:
        even_count += 1
  
    else:
        odd_count += 1

print("Odd numbers in the list: ", odd_count)

[746, 607, 353, 435, 609, 397, 379, 848, 131, 464, 799, 701, 382, 483, 487, 792, 689, 642, 786, 648, 256, 296, 181, 659, 873, 882, 782, 426, 229, 636, 233, 251, 500, 691, 763, 408, 462, 501, 606, 769, 856, 472, 711, 344, 518, 822, 343, 171, 548, 276, 618, 316, 312, 672, 260, 771, 257, 122, 840, 217, 183, 253, 393, 291, 419, 432, 288, 682, 327, 201, 478, 634, 203, 883, 197, 429, 527, 740, 498, 480, 420, 566, 400, 596, 325, 847, 521, 881, 125, 547, 303, 305, 290, 491, 536, 219, 212, 456, 385, 756]
Odd numbers in the list:  51

(ii) All even numbers

In [ ]:
import random as r
randomlist = r.sample(range(100,900),100)
print(randomlist)

odd_count = 0
even_count = 0 

for num in randomlist:
      
    if num % 2 == 0:
        even_count += 1
  
    else:
        odd_count += 1

print("Even numbers in the list: ", even_count)

[300, 420, 474, 595, 353, 532, 584, 835, 262, 539, 417, 416, 557, 744, 724, 668, 890, 768, 192, 331, 745, 480, 142, 773, 362, 115, 335, 392, 322, 224, 576, 678, 185, 255, 839, 892, 656, 402, 231, 832, 490, 542, 365, 279, 301, 314, 424, 563, 328, 790, 624, 315, 819, 350, 345, 640, 651, 566, 307, 237, 261, 865, 477, 567, 451, 431, 831, 555, 686, 524, 881, 352, 349, 290, 202, 565, 360, 309, 520, 753, 205, 508, 138, 878, 899, 852, 674, 514, 715, 165, 521, 227, 777, 847, 679, 885, 184, 370, 824, 751]
Even numbers in the list:  51

(iii) All prime numbers

In [ ]:
import random as r
randomlist = r.sample(range(100,900),100)
print(randomlist)

prime_count =0 
for number in range (0, len(randomlist)):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:
                break  
        else:  
            prime_count +=1
        
print('Prime numbers in the list: ',prime_count)

[537, 221, 583, 592, 239, 317, 628, 897, 604, 319, 877, 296, 301, 618, 503, 886, 868, 893, 112, 116, 691, 342, 587, 888, 505, 210, 292, 641, 275, 406, 437, 252, 710, 257, 881, 138, 382, 195, 247, 802, 787, 617, 883, 431, 492, 533, 850, 294, 895, 754, 471, 669, 646, 671, 786, 749, 220, 694, 660, 659, 784, 762, 650, 298, 458, 158, 497, 621, 798, 845, 570, 651, 447, 809, 436, 374, 178, 329, 692, 636, 200, 442, 778, 439, 793, 291, 629, 545, 738, 491, 540, 637, 685, 499, 825, 515, 171, 742, 566, 235]
Prime numbers in the list:  25

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.

WAP to read all the keys and values from dictionary and write to the file in the given below format.

Key1, Value1

Key2, Value2 

Key3, Value3

In [ ]:
fp =open('q7.txt','w')
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
for key, value in D.items():
  print(key, ' : ', value)
fp.close()
print ("Writing done !! \nOpen q7.txt to view the content")

1  :  One
2  :  Two
3  :  Three
4  :  Four
5  :  Five
Writing done !!
Open q7.txt to view the content

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.

WAP to count the length of reach element from a list and write to the file in the given below format:

One, 3 

Two, 3 

Four, 4

In [ ]:
fp =open('q8.txt','w')
L = ("One","Two","Three","Four","Five")
for i in range(0,len(L)):
  print(L[i] , len(L[i]))
  fp.close()
print ("Writing done !! \nOpen q8.txt to view the content")

One 3
Two 3
Three 5
Four 4
Five 4
Writing done !!
Open q8.txt to view the content

Q9. Write to the file 100 random strings whose length between 10 and 15.

In [ ]:
fp = open('q9.txt','w')
import string as s
import random as r
l = s.ascii_letters
l
up = 10
down = 15
iterations = 100
for i in range(iterations):
    SetSize = r.randint(down,up)
    x = r.sample(l,SetSize)
    print(x)
fp.close()
print('Writing done !! \nOpen q9.txt to view the content')

Q10. Write to the file all prime numbers between 600 and 800.

In [ ]:
fp = open('q10.txt','w')
lower = 600
upper = 800

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)
fp.close()
print ("Writing done !! \nOpen q10.txt to view the content")

Prime numbers between 600 and 800 are:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
Writing done !!
Open q10.txt to view the content

Q11. WAP to calculate the time taken by a program.

In [ ]:
import time as t

# store starting time
begin = t.time()

# program body starts

for i in range(5):
	print("Hello")
# program body ends

t.sleep(1)
# store end time
end = t.time()

# total time taken
print(f"Total runtime of the program is {end - begin}")

Hello
Hello
Hello
Hello
Hello
Total runtime of the program is 1.0043704509735107

Q12. WAP to create a dictionary of student marks in five subjects and you have to find the student having maximum and minimum average marks.

In [ ]:
def solve(scores):
   avg_scores = dict()
   for name in scores:
      avg_scores[name] = sum(scores[name])/len(scores[name])
   return list(avg_scores.values())

scores = {'Sasuke' : [25,36,47,45,20], 'Naruto' : [85,74,69,47,70], 'Hinata' : [65,35,87,14,79], 'Sakura' : [74,12,36,75,67]}
print('Marks of students in five subjects are --> ',scores)
print('Avergae marks of students in all subjects --> ',solve(scores)) 
print('Minimum avergae marks --> ',min(solve(scores)))
print('Maximum average amrks --> ',max(solve(scores)))

Marks of students in five subjects are -->  {'Amal': [25, 36, 47, 45, 20], 'Bimal': [85, 74, 69, 47, 70], 'Tarun': [65, 35, 87, 14, 79], 'Akash': [74, 12, 36, 75, 67]}
Avergae marks of students in all subjects -->  [34.6, 69.0, 56.0, 52.8]
Minimum avergae marks -->  34.6
Maximum average amrks -->  69.0